body, html {
	height: 100%;
	margin: 0%;
	background-color: #247ad0;
}

.home {
	height: 100%;
	margin: 0%;
}

.bgimg1 {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.75;
    
}

a {
    color: #32CD32;
    text-align: center;
}

h3 {
    text-align: center;
}

.caption {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0 20% 0 20%;
    left: 0;
    top: 23%;
    text-align: center;
	text-shadow: 2px 2px #C11B17;
    color: #8C001A;
	font-size: 64px;
	font-family: Courier New bold;
	border-style: none;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid blue;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0, 0, 0, 0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0, 0, 0, 0.2);
        }

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /*account for the height of the clocks hands*/
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.25s;
    transition-timing-function: cubic-bezier(0, 1.34, 0, 1.35);
}
